.redes-sociais {
    margin-top: 32px;
}

.redes-sociais__text {
    font-size: 1.2rem;
    line-height: 2rem;
    color: unquote("#{$color-text-white}cc");
    text-align: center;
    letter-spacing: 0.5px;
}

.redes-sociais__list {
    padding: 5px;
    width: 130px;
    margin: 15px auto 0;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: unquote("#{$color-primaria}11");
}

.redes-sociais__item {
    margin: 0 15px;
}

.redes-sociais__item {
    margin: 0 15px;
    transition: 0.2s ease-out;

    &:hover {
        transform: translateY(-10px);
    }
}

.redes-sociais__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: $color-primaria;
    border-radius: 50%;
    text-align: center;
}

.redes-sociais__icon {
    display: inline-block;
    width: 20px;
    height: 20px;
}
