* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    line-height: 16px;
}

body {
    font-family: 'Nunito', sans-serif;
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 235px;

    @media (max-width: 420px) {
        background-size: auto;
    }

    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

$color-bg-wrapper: rgba(0, 0, 0, 0.6);
$color-primaria: #ffffff;
$color-secundaria: #e1a91d;
$color-terciaria: #d1990b;

$color-title-black: #333333;
$color-title-white: #ffffff;
$color-text-black: #555555;
$color-text-white: #ffffff;

%texto-padrao {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: $color-text-white;
    text-align: center;
    letter-spacing: 0.5px;
}
